@font-face {
  font-family: 'Harmonia-Black';
  src: local('Harmonia-Black'),
    url('../../fonts/HarmoniaSansProCyr-Black.eot') format('eot'),
    url('../../fonts/HarmoniaSansProCyr-Black.ttf') format('truetype'),
    url('../../fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
    url('../../fonts/HarmoniaSansProCyr-Black.woff') format('woff');
}

@font-face {
  font-family: 'Harmonia-Black-Italic';
  src: local('Harmonia-Black-Italic'),
    url('../../fonts/HarmoniaSansProCyr-BlackIt.eot') format('eot'),
    url('../../fonts/HarmoniaSansProCyr-BlackIt.ttf') format('truetype'),
    url('../../fonts/HarmoniaSansProCyr-BlackIt.woff2') format('woff2'),
    url('../../fonts/HarmoniaSansProCyr-BlackIt.woff') format('woff');
}

@font-face {
  font-family: 'Harmonia-Bold';
  src: local('Harmonia-Bold'),
    url('../../fonts/HarmoniaSansProCyr-Bold.eot') format('eot'),
    url('../../fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype'),
    url('../../fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
    url('../../fonts/HarmoniaSansProCyr-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Harmonia-Bold-Cond';
  src: local('Harmonia-Bold-Cond'),
    url('../../fonts/HarmoniaSansProCyr-BoldCond.eot') format('eot'),
    url('../../fonts/HarmoniaSansProCyr-BoldCond.ttf') format('truetype'),
    url('../../fonts/HarmoniaSansProCyr-BoldCond.woff2') format('woff2'),
    url('../../fonts/HarmoniaSansProCyr-BoldCond.woff') format('woff');
}

@font-face {
  font-family: 'Harmonia-Bold-Italic';
  src: local('Harmonia-Bold-Italic'),
    url('../../fonts/HarmoniaSansProCyr-BoldIt.eot') format('eot'),
    url('../../fonts/HarmoniaSansProCyr-BoldIt.ttf') format('truetype'),
    url('../../fonts/HarmoniaSansProCyr-BoldIt.woff2') format('woff2'),
    url('../../fonts/HarmoniaSansProCyr-BoldIt.woff') format('woff');
}

@font-face {
  font-family: 'Harmonia-Cond';
  src: local('Harmonia-Cond'),
    url('../../fonts/HarmoniaSansProCyr-Cond.eot') format('eot'),
    url('../../fonts/HarmoniaSansProCyr-Cond.ttf') format('truetype'),
    url('../../fonts/HarmoniaSansProCyr-Cond.woff2') format('woff2'),
    url('../../fonts/HarmoniaSansProCyr-Cond.woff') format('woff');
}

@font-face {
  font-family: 'Harmonia-Italic';
  src: local('Harmonia-Italic'),
    url('../../fonts/HarmoniaSansProCyr-Italic.eot') format('eot'),
    url('../../fonts/HarmoniaSansProCyr-Italic.ttf') format('truetype'),
    url('../../fonts/HarmoniaSansProCyr-Italic.woff2') format('woff2'),
    url('../../fonts/HarmoniaSansProCyr-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Harmonia-Light';
  src: local('Harmonia-Light'),
    url('../../fonts/HarmoniaSansProCyr-Light.eot') format('eot'),
    url('../../fonts/HarmoniaSansProCyr-Light.ttf') format('truetype'),
    url('../../fonts/HarmoniaSansProCyr-Light.woff2') format('woff2'),
    url('../../fonts/HarmoniaSansProCyr-Light.woff') format('woff');
}

@font-face {
  font-family: 'Harmonia-Light-Italic';
  src: local('Harmonia-Light-Italic'),
    url('../../fonts/HarmoniaSansProCyr-LightIt.eot') format('eot'),
    url('../../fonts/HarmoniaSansProCyr-LightIt.ttf') format('truetype'),
    url('../../fonts/HarmoniaSansProCyr-LightIt.woff2') format('woff2'),
    url('../../fonts/HarmoniaSansProCyr-LightIt.woff') format('woff');
}

@font-face {
  font-family: 'Harmonia-Regular';
  src: local('Harmonia-Regular'),
    url('../../fonts/HarmoniaSansProCyr-Regular.eot') format('eot'),
    url('../../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype'),
    url('../../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
    url('../../fonts/HarmoniaSansProCyr-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Harmonia-Semi-Bold';
  src: local('Harmonia-Semi-Bold'),
    url('../../fonts/HarmoniaSansProCyr-SemiBd.eot') format('eot'),
    url('../../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype'),
    url('../../fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
    url('../../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff');
}

@font-face {
  font-family: 'Harmonia-Semi-Bold-Cn';
  src: local('Harmonia-Semi-Bold-Cn'),
    url('../../fonts/HarmoniaSansProCyr-SemiBdCn.eot') format('eot'),
    url('../../fonts/HarmoniaSansProCyr-SemiBdCn.ttf') format('truetype'),
    url('../../fonts/HarmoniaSansProCyr-SemiBdCn.woff2') format('woff2'),
    url('../../fonts/HarmoniaSansProCyr-SemiBdCn.woff') format('woff');
}

@font-face {
  font-family: 'Harmonia-Semi-Bold-Italic';
  src: local('Harmonia-Semi-Bold-Italic'),
    url('../../fonts/HarmoniaSansProCyr-SemiBdIt.eot') format('eot'),
    url('../../fonts/HarmoniaSansProCyr-SemiBdIt.ttf') format('truetype'),
    url('../../fonts/HarmoniaSansProCyr-SemiBdIt.woff2') format('woff2'),
    url('../../fonts/HarmoniaSansProCyr-SemiBdIt.woff') format('woff');
}

.fs-xl {
  @include fs-xl();
}

.fs-lg {
  @include fs-lg();
}

.fs-md {
  @include fs-md();
}

.fs-sm {
  @include fs-sm();
}

.fs-xs {
  @include fs-xs();
}
