@mixin education-container($height: 700px) {
  .education-container {
    height: $height;
  }
}

@mixin education-img(
  $width: 607px,
  $top: 700px,
  $paddingTop: 100px,
  $paddingBottom: 100px
) {
  .education-img {
    position: absolute;
    left: 0;
    top: $top;
    width: $width;
    height: auto;
    padding-top: $paddingTop;
    padding-bottom: $paddingBottom;
  }
}

@mixin display-schoolyear($fontSize, $width: 100%) {
  .display-schoolyear {
    font-size: $fontSize;
    font-family: 'Harmonia-Regular';
    color: #ddf8ff;
    margin-top: 0.5rem;
    width: $width;
  }
}

@mixin display-course($fontSize, $marginTop: 0px, $width: 100%) {
  .display-course {
    font-size: $fontSize;
    font-family: 'Harmonia-Black';
    color: #ddf8ff;
    text-decoration: underline;
    margin-bottom: 30px;
    margin-top: $marginTop + 0.5;
    text-align: center;
    width: $width;
  }
}
